<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <servlet>
        <servlet-name>AlgoProgressUpdateServlet</servlet-name>
        <servlet-class>Servlets.AlgoProgressUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlgoPageEntry</servlet-name>
        <servlet-class>Servlets.AlgoPageEntry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlgoPageLeavingServlet</servlet-name>
        <servlet-class>Servlets.AlgoPageLeavingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlgoReferenceServlet</servlet-name>
        <servlet-class>Servlets.AlgoReferenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnotherUserAlgoRefServlet</servlet-name>
        <servlet-class>Servlets.AnotherUserAlgoRefServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnotherUserMutationsServlet</servlet-name>
        <servlet-class>Servlets.AnotherUserMutationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateAlgoServlet</servlet-name>
        <servlet-class>Servlets.ActivateAlgoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BestSolutionRawServlet</servlet-name>
        <servlet-class>Servlets.BestSolutionRawServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BestSolutionByTeacherIDServlet</servlet-name>
        <servlet-class>Servlets.BestSolutionByTeacherIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BestSolutionByClassIDServlet</servlet-name>
        <servlet-class>Servlets.BestSolutionByClassIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassesIdNamesServlet</servlet-name>
        <servlet-class>Servlets.ClassesIdNamesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDataServlet</servlet-name>
        <servlet-class>Servlets.FileDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>Servlets.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFileServlet</servlet-name>
        <servlet-class>Servlets.LoadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MutationsServlet</servlet-name>
        <servlet-class>Servlets.MutationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MutationUpdateServlet</servlet-name>
        <servlet-class>Servlets.MutationUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PauseAlgoServlet</servlet-name>
        <servlet-class>Servlets.PauseAlgoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StopAlgoServlet</servlet-name>
        <servlet-class>Servlets.StopAlgoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolvingUsersUpdateServlet</servlet-name>
        <servlet-class>Servlets.SolvingUsersUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeachersIdNamesServlet</servlet-name>
        <servlet-class>Servlets.TeachersIdNamesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersListServlet</servlet-name>
        <servlet-class>Servlets.UsersListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstanceRowServlet</servlet-name>
        <servlet-class>Servlets.InstancesRowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>Servlets.WelcomeServlet</servlet-class>
    </servlet>



    <servlet-mapping>
        <servlet-name>AlgoProgressUpdateServlet</servlet-name>
        <url-pattern>/pages/algopage/progressUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlgoPageEntry</servlet-name>
        <url-pattern>/pages/homepage/algo-entry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlgoPageLeavingServlet</servlet-name>
        <url-pattern>/pages/algopage/algo-leave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlgoReferenceServlet</servlet-name>
        <url-pattern>/pages/algopage/algoReferences</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnotherUserAlgoRefServlet</servlet-name>
        <url-pattern>/pages/algopage/otherUserAlgoRef</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnotherUserMutationsServlet</servlet-name>
        <url-pattern>/pages/algopage/otherUserMutations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateAlgoServlet</servlet-name>
        <url-pattern>/pages/algopage/activate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BestSolutionRawServlet</servlet-name>
        <url-pattern>/pages/algopage/rawSolution</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BestSolutionByTeacherIDServlet</servlet-name>
        <url-pattern>/pages/algopage/teacherSolution</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BestSolutionByClassIDServlet</servlet-name>
        <url-pattern>/pages/algopage/classSolution</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassesIdNamesServlet</servlet-name>
        <url-pattern>/pages/algopage/classesNamesList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDataServlet</servlet-name>
        <url-pattern>/pages/algopage/filedata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/pages/loginpage/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFileServlet</servlet-name>
        <url-pattern>/pages/homepage/loadfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/pages/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MutationsServlet</servlet-name>
        <url-pattern>/pages/algopage/mutation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MutationUpdateServlet</servlet-name>
        <url-pattern>/pages/algopage/mutationUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PauseAlgoServlet</servlet-name>
        <url-pattern>/pages/algopage/pause</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StopAlgoServlet</servlet-name>
        <url-pattern>/pages/algopage/stopAlgo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolvingUsersUpdateServlet</servlet-name>
        <url-pattern>/pages/algopage/updateSolvingUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeachersIdNamesServlet</servlet-name>
        <url-pattern>/pages/algopage/teachersNamesList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersListServlet</servlet-name>
        <url-pattern>/pages/homepage/userList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstanceRowServlet</servlet-name>
        <url-pattern>/pages/homepage/rows</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/pages/homepage/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/pages/algopage/welcome</url-pattern>
    </servlet-mapping>
</web-app>



